html,body { margin: 0; padding: 0; outline: 0; }
body { background-color: #FFF; color: black; direction: ltr; font: 10pt verdana, arial, sans-serif; }

a { color: #CC0000; }
a:hover { color: #990000; }

.path { font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",  Monaco, "Courier New", Courier, monospace; padding: 5px; border: 1px solid #EEE; background-color: #FFFFCC; margin: 10px 0px; direction: ltr; text-align: left; }
.code { font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",  Monaco, "Courier New", Courier, monospace; padding: 5px; border: 1px solid #EEE; background-color: #FFF; margin: 10px 0px; direction: ltr; text-align: left; }

.under { text-align: center; margin: 20px 0px; font-size: 12px; direction: ltr; color: #707070; }
.content { width: 700px; margin: 0px auto; position: relative; padding: 10px; }
.logo { width: 700px; margin: 0 auto; position: relative; padding: 10px; border-bottom: 1px solid #DDD; }